@import url("https://fonts.googleapis.com/css?family=Abel");

.general__paragr {
  font-family: 'Abel';
  font-size: 18px;
}

.general__contact {
  font-family: 'Abel';
  font-size: 17px;
}

.general {
  padding-left: 25px;
}
