@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Abel");

.general__paragr {
  font-family: 'Abel';
  font-size: 18px;
}

.general__header {
  font-family: 'Raleway';
}

.general {
  text-align: center;
  padding-left: 400px;
  padding-right: 400px;
}
