@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");

html, main, footer {
  background-color: #393D3F;
  color: #FDFDFF;
}

body {
  margin: 0;
}

/* header {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

.header__havigation__elements-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #546A7B;
    overflow: hidden;
  }

.header__havigation__element {
    float: left;
    font-family: 'Raleway';
}

.header__havigation__element__link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header__havigation__element__link:hover {
    background-color: #62929E;
}

.footer {
  font-family: 'Poiret One';
  text-align: center;
  font-size: 16px;
  bottom: 0;
  position: fixed;
  width: 100%;
}
