@import url("https://fonts.googleapis.com/css?family=Abel");

.general {
  font-family: 'Abel';
  font-size: 18px;
  padding-left: 250px;
  padding-right: 250px;
}

.general__table__line:nth-child(even) {
  background-color: #62929E;
}

.general__table {
  width: 100%;
}
